%script{src: '//code.jquery.com/jquery-1.11.2.min.js'}

%a{ href: '#', "data-start-date": '2014-01-02', 'data-end-date': '2015-01-02'} Dados 1 ano
%a{ href: '#', "data-start-date": '2013-01-02', 'data-end-date': '2015-01-02'} Dados 2 anos

%ul

:javascript
  $(document).ready(function() {
    $('a').click(function() {
      var start_date = $(this).data('start-date');
      var end_date = $(this).data('end-date');

      $.ajax({
        url: "http://localhost:9393/ranking/" + start_date + "/" + end_date,
        dataType: 'json',
        success: function(data) {
          $('ul').html('');
          $.each(data, function(index, quote) {
            var element = document.createElement('li');
            element.appendChild(document.createTextNode(quote['stock'] + " - " + quote['value']))
            $("ul").append(element);
          });
        }
      });
    });
  });
